@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap');


:root {
    --primary:#fff7df;
    --secondary:#f24822;
    --main:#fde4de;
    /*Scala di Grigi*/
    --extra-light-gray: #f8f9faff;
    --soft-light-gray: #f2f2f3;
    --light-gray: rgb(0, 0, 0);
    --primary-gray: #adb5bdff;
    --soft-dark-gray: #89949e;
    --dark-gray: #6c757dff;
    --extra-dark-gray: #343a40ff;
    /* Global */
    --letter-spacing: 0.08rem;
    --transition: all 0.2s ease;
    --btn-transition: all 0.125s ease;
    --radius: 0.25rem;
    --img-radius: 0.25rem 0.25rem 0rem 0rem;
    --card-radius: 0rem 0rem 0.25rem 0.25rem;
    --btn-radius: 16px;
    --light-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    --dark-shadow: 4px 5px 15px rgba(5, 6, 6, 0.4);
  }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    
    color: black;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-family: "Odor Mean Chey", serif;
    font-style: normal;
}

/* GLOBAL STYLE */
ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: unset;
  }
  
  hr {
    border: none;
    border-bottom: 1px solid black;
  }
  
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: var(--letter-spacing);
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    color: black;
    font-size: 0.9rem;
    letter-spacing: var(--letter-spacing);
  }
  @media screen and (min-width: 753px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 2rem;
      color: var(--secondary);
    }
    h4 {
      font-size: 1.25rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }
  
  .btn {
    /* display: inline-block; */
    color: white;
    border: none;
    padding: 0.4rem 1.25rem;
    border-radius: var(--btn-radius);
    box-shadow: var(--light-shadow);
    letter-spacing: var(--letter-spacing);
    font-size: 0.55rem;
    transition: var(--btn-transition);
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .btn:hover{
    background-color: black;
    transition: 1s;
  }
  
  .icon-btn {
    padding: 0.4rem 0.2rem;
    background-color: transparent;
    box-shadow: unset;
    justify-self: center;
  }
  
  .icon,
  .nav-icon {
    padding: 0;
    margin: 0;
    transition: var(--btn-transition);
  }
  
  .nav-icon {
    color: white;
  }
  
  .icon {
    font-size: 1rem;
    color: black;
  }
  
  .underline,
  .topline {
    position: absolute;
    bottom: -13px;
    height: 2px;
    width: 80%;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--radius);
  }
  
  .topline {
    top: -13px;
  }

  
/* NAVBARSTYLE */
  .nav {
    background-color: var(--nav-colors-2);
    height: 4rem;
    box-shadow: var(--light-shadow);
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    align-items: center;
  }
  
  .nav-header {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-brand {
    margin-bottom: 0.1rem;
    color: var(--trypan-blue-2);
    text-transform: lowercase;
    font-variant: small-caps;
  }
  

  .nav-links {
    display: none;
  }
  
  .nav-link {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    white-space: nowrap;
  }
  
  .nav-text {
    font-size: 1.3rem;
    text-transform: lowercase;
    font-variant: small-caps;
  }
  
  .socialTop {
    display: none;
  }
  
  .nav-item {
    transition: var(--btn-transition);
  }
  
  .nav-item:hover {
    color: var(--flickr-pink);
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }

  /* END NAVBARSTYLE */

  /* HOME HERO */
  .home-hero {
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    display: grid;
    height: 100vh;
    margin-left: 10px;
    align-items: center;
  }
  
  .home-hero-text {
    width: 100%;
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    display: grid;
    place-items: center;
    text-align: center;
    gap: 2rem;
  }
  
  .home-hero-title {
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    display: grid;
    gap: 1rem;
  }
  
  .home-hero-title h2 {
    font-weight: 900;
  }
  
  .home-hero-title h4 {
    font-variant: small-caps;
  }
  
  .home-hero-text p {
    align-self: center;
    color: var(--light-gray);
    max-width: 70ch;
    line-height: 1.6;
  }
  
  .home-hero-text .btn {
    align-self: center;
    border-radius: 22px;
  }
  
  /*=== HOME HERO MEDIA ===*/
  @media screen and (min-width: 992px) {
    .home-hero {
      grid-template-columns: repeat(12, 1fr);
    }
  
    .home-hero-text {
      grid-column: 1/7;
      gap: 3rem;
      text-align: left;
      place-items: start;
    }
  
    .home-hero-text p {
      align-self: flex-start;
      color: var(--light-gray);
      max-width: 70ch;
      line-height: 1.6;
    }
  
    .home-hero-text .btn {
      align-self: unset;
    }
  
    .home-hero-img {
      grid-column: 8/-1;
    }
  }


  /* Swiper */

  .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-one{
  height: 400px;
  background: linear-gradient(#fff7df,transparent),url('../src/assets/image/sliderone.jpg');
  background-size: cover;
  background-position: center;
}

.slider-two{
  height: 400px;
  background: linear-gradient(#fff7df,transparent),url('../src/assets/image/slidertwo.jpg');
  background-size: cover;
  background-position: center;
}

.slider-three{
  height: 400px;
  background: linear-gradient(#fff7df,transparent),url('../src/assets/image/sliderthree.jpg');
  background-size: cover;
  background-position: center;
}

.slider-four{
  height: 400px;
  background: linear-gradient(#fff7df,transparent),url('../src/assets/image/sliderfour.jpg');
  background-size: cover;
  background-position: center;
}

.slider-five{
  height: 400px;
  background: linear-gradient(#fff7df,transparent),url('../src/assets/image/sliderfive.jpg');
  background-size: cover;
  background-position: center;
}

.slider-six{
  height: 400px;
  background: linear-gradient(#fff7df,transparent),url('../src/assets/image/slidersix.jpg');
  background-size: cover;
  background-position: center;
}

.swiper-pagination-progressbar-fill{
  background-color: var(--secondary) !important;
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44* 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary) !important;
}


/* MENU STYLE */
.position-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin-bottom: 14px;
  max-width: 320px;
  position: relative;
  display: block;
  overflow: hidden;
  border: 2px solid red;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #fff7df;
  cursor:pointer;
}

.card:hover{
background-color: #fde4de;
transition:1s;
}

.header {
  display: flex;
  justify-content: space-between;
  grid-gap: 1rem;
  gap: 1rem;
}

.title {
  font-size: 1.125rem;
  font-weight: 700;
  color: rgba(17, 24, 39, 1);
  text-decoration: none;
}

.name {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: rgba(75, 85, 99, 1);
}

.image {
  display: block;
  flex-shrink: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  object-fit: cover;
  background-color: royalblue;
}

.description {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(107, 114, 128, 1);
}

/* END STYLE MENU */
